@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}



/* ----ヘッダー部分---- */


header {
	background-color: #EC715F;
	height: 50px;

	.h-wrap {
		width: 90%;
		height: 100%;
		/* border: 1px solid #000; */
		margin: 0 auto;
		position: relative;

		.logo {
			height: 100%;
		}

		.logo-link {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100px;
			/* background-color: rgba(255, 251, 0, 0.425); */
		}

		.burger-menu {
			display: inline-block;
			float: right;
			width: 40px;
			height: 40px;
			margin: 5px 0;
			border: 1px solid #fff;

			.fa-bars {
				color: #fff;
				font-size: 30px;
				line-height: 38px;
				text-align: center;
				width: 100%;
			}
		}

		ul {
			display: none;
			
			li {

			}
		}
	}
}

/* ----メインビジュアル部分---- */


.main-visual {
	height: 650px;
	background-image: url(img/code.png);
	background-position: center;
	background-size: cover;

	.mv-wrap {
		width: 90%;
		height: 100%;
		margin: 0 auto;
		// background-color: rgba(158, 68, 131, 0.562);
		text-align: center;

		h2 {
			font-size: 40px;
			color: #fafafa;
			padding: 200px 0 10px 0;
		}

		p {
			font-size: 18px;
			color: #fafafa;
		}
	}

}

/* ----ポートフォリオ部分---- */


.portfolio {
	background-color: #ECEFF1;

	.pf-wrap {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		padding: 90px 0;

		h2 {
			font-size: 32px;
			color: #000;
		}

		.line-parent{
			font-size: 0; /*lineのinline-blockの隙間を消す*/

			.line {
				display: inline-block;
				height: 3px;
				width: 70px;
				background-color: #EC715F;
				margin: 8px 0 0 0;
			}
		}

		p {
			font-size: 16px;
			color: #000000;
			padding: 30px 0;

			.br-clear-mobile {
				display: none;
			}
		}

		.img-parent{
			font-size: 0; /*imgのinline-blockの隙間を消す*/

			img {
				width: 300px;
				height: 250px;
				margin: 0 0 10px 0;
			}

			img:nth-of-type(odd) {
				display: none;
			}

			img:last-child {
				margin: 0;
			}
		}

	}
}


/* ----フィーチャー部分---- */


.features {
	.feat-wrap {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		padding: 90px 0;

		h2 {
			font-size: 32px;
			color: #000000;
		}

		.line-parent{
			font-size: 0; /*lineのinline-blockの隙間を消す*/

			.line {
				display: inline-block;
				height: 3px;
				width: 70px;
				background-color: #EC715F;
				margin: 8px 0 0 0;
			}
		}

		.feat-description {
			font-size: 16px;
			color: #000000;
			padding: 30px 0;

			.br-clear-mobile {
				display: none;
			}
		}

		.content-wrap{
			width: 320px;
			margin: 0 auto;

			.feat-icon {
				font-size: 60px;
			}

			h3 {
				font-size: 20px;
				color: #000000;
				padding: 10px 0;
			}

			.p-parent {
				text-align: start;
				p {
					font-size: 16px;
					color: #000000;
					padding: 0 0 10px 0;
				}
			}
		}
	}

}


/* ----プロフィール部分---- */


.prof {
	background-color: #eceff1;

	.prof-wrap {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		padding: 90px 0;

		h2 {
			font-size: 32px;
			color: #000000;
		}

		.line-parent{
			font-size: 0; /*lineのinline-blockの隙間を消す*/

			.line {
				display: inline-block;
				height: 3px;
				width: 70px;
				background-color: #EC715F;
				margin: 8px 0 0 0;
			}
		}

		.prof-description {
			font-size: 16px;
			color: #000000;
			padding: 30px 0;

			.br-clear-mobile {
				display: none;
			}
		}

		img {
			border-radius: 50%;
		}

		h3 {
			font-size: 20px;
			color: #000000;
			padding: 20px 0 5px 0;
		}

		p {
			font-size: 16px;
			color: #000000;
		}

		.ms-description {
			font-size: 16px;
			color: #000000;
		}

	}

}

/* ----コンタクト部分---- */


.contact {
	.con-wrap {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		padding: 90px 0;

		h2 {
			font-size: 32px;
			color: #000000;
		}

		.line-parent{
			font-size: 0; /*lineのinline-blockの隙間を消す*/

			.line {
				display: inline-block;
				height: 3px;
				width: 70px;
				background-color: #EC715F;
				margin: 8px 0 0 0;
			}
		}

		.con-description {
			font-size: 16px;
			color: #000000;
			padding: 30px 0;

			.br-clear-mobile {
				display: none;
			}
		}

		h3 {
			font-size: 20px;
			color: #000000;
			padding: 20px 0 5px 0;
		}

		h3:nth-of-type(1) {
			padding: 0 0 5px 0;
		}

		a {
			font-size: 16px;
			color: #000000;
		}

		.con-icon {
			font-size: 50px;
			padding-right: 8px;
		}

		i:nth-of-type(3) {
			padding-right: 0;
		}

	}

}



/* ----フッター部分---- */

footer {
	background-color: #EC715F;
	height: 60px;
	text-align: center;

	p {
		line-height: 60px;
		color: #fafafa;
		font-size: 16px;
	}
}



/* ----メディアクエリ:768pc以上のデバイス---- */


@media screen and (min-width:768px) {



/* ----ヘッダー部分---- */

header {
	height: 70px;

	.h-wrap {
		width: 1024px;

		.logo {

		}

		.logo-link {

		}

		.burger-menu {
			display: none;


			.fa-bars {
			display: none;
			}
		}

		ul {
			position: absolute;
			top: 0;
			right: 0;
			height: 70px;
			list-style: none;

			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-align-items: center;
			align-items: center;

			li {
				font-size: 16px;
				color: #fafafa;
				padding: 0 30px;
			}
		}
	}
}



/* ----メインビジュアル部分---- */

.main-visual {
	background-image: url(img/mv.png);

	.mv-wrap {

		h2 {
			font-size: 64px;
		}

		p {
			font-size: 20px;
		}
	}

}



/* ----ポートフォリオ部分---- */


.portfolio {

	.pf-wrap {
		width: 920px;

		h2 {

		}

		.line-parent{

			.line {

			}
		}

		p {

			.br-clear-pc {
				display: none;
			}

			.br-clear-mobile {
				display: inline;
			}
		}

		.img-parent{

			img {
				margin: 0 10px 10px 0;
			}

			img:nth-of-type(odd) {
				display: inline-block;
			}

			img:nth-of-type(3) {
				margin: 0 0 10px 0;
			}

			img:nth-of-type(4) {
				margin: 0 10px 0 0;
			}

			img:nth-of-type(5) {
				margin: 0 10px 0 0;
			}

			img:nth-of-type(6) {
				margin: 0;
			}

		}

	}
}



/* ----フィーチャー部分---- */


.features {
	.feat-wrap {
		width: 980px;

		h2 {

		}

		.line-parent{

			.line {

			}
		}

		.feat-description {

			.br-clear-pc {
				display: none;
			}

			.br-clear-mobile {
				display: inline;
			}
		}

		.content-wrap {
			margin: 0 10px 0 0;
			float: left;

			.feat-icon {

			}

			h3 {

			}

			.p-parent {

				p {
					padding: 0;
				}
			}
		}

		.content-wrap:last-child {
			margin: 0;
		}

	}

}



/* ----プロフィール部分---- */


.prof {

	.prof-wrap {
		width: 1024px;

		h2 {

		}

		.line-parent{

			.line {

			}
		}

		.prof-description {

			.br-clear-pc {
				display: none;
			}

			.br-clear-mobile {
				display: inline;
			}
		}

		.mi-wrap{
			width: 512px;
			float: left;

			img {
				border-radius: 50%;
			}
		}

		.content-wrap{
			width: 512px;
			float: left;
			text-align: start;

			h3 {
				padding: 0 0 5px 0;
			}

			p {
				font-size: 16px;
				color: #000000;
			}

			.ms-title {
				padding: 20px 0 5px 0;
			}

			.ms-description {
				font-size: 16px;
				color: #000000;
			}
		}

	}

}



/* ----コンタクト部分---- */


.contact {
	.con-wrap {
		width: 800px;

		h2 {

		}

		.line-parent{

			.line {

			}
		}

		.con-description {

			.br-clear-pc {
				display: none;
			}

			.br-clear-mobile {
				display: inline;
			}
		}

		.address-wrap{
			width: 400px;
			float: left;
			text-align: start;
			padding: 0 0 0 170px;

			h3 {

			}

			h3:nth-of-type(1) {

			}

			a {
				font-size: 16px;

			}
		}

		.sns-wrap{
			width: 400px;
			float: left;
			text-align: start;
			padding: 0 0 0 90px;

			.con-icon {
				padding-right: 20px;
			}

			i:nth-of-type(3) {
				padding-right: 0;
			}
		}

	}

}



/* ----フッター部分---- */

footer {

	p {

	}
}



}