@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}



/* ----ヘッダー部分---- */


header {
	background-color: #EC715F;
	height: 50px;

	.h-wrap {
		width: 90%;
		height: 100%;
		/* border: 1px solid #000; */
		margin: 0 auto;
		position: relative;

		.logo {
			height: 100%;
		}

		.logo-link {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100px;
			/* background-color: rgba(255, 251, 0, 0.425); */
		}

		.burger-menu {
			display: inline-block;
			float: right;
			width: 40px;
			height: 40px;
			margin: 5px 0;
			border: 1px solid #fff;

			.fa-bars {
				color: #fff;
				font-size: 30px;
				line-height: 38px;
				text-align: center;
				width: 100%;
			}
		}
	}
}

/* ----メインビジュアル部分---- */


.main-visual {
	height: 650px;
	background-image: url(img/code.png);
	background-position: center;
	background-size: cover;

	.mv-wrap {
		width: 90%;
		height: 100%;
		margin: 0 auto;
		// background-color: rgba(158, 68, 131, 0.562);
		text-align: center;

		h2 {
			font-size: 40px;
			color: #fafafa;
			padding: 200px 0 10px 0;
		}

		p {
			font-size: 18px;
			color: #fafafa;
		}
	}

}

/* ----ポートフォリオ部分---- */


.portfolio {
	background-color: #ECEFF1;

	.pf-wrap {
		width: 90%;
		margin: 0 auto;
		text-align: center;

		h2 {
			font-size: 32px;
			color: #000;
			padding: 90px 0 0 0;
		}

		.line-parent{
			font-size: 0; /*lineのinline-blockの隙間を消す*/

			.line {
				display: inline-block;
				height: 3px;
				width: 70px;
				background-color: #EC715F;
				margin: 8px 0 0 0;
			}
		}

		p {
			font-size: 16px;
			color: #000000;
			padding: 30px 0;
		}

		.img-parent{
			font-size: 0; /*imgのinline-blockの隙間を消す*/

			img {
				width: 300px;
				height: 250px;
				margin: 0 0 10px 0;
			}

			img:nth-of-type(odd) {
				display: none;
			}

			img:last-child {
				margin: 0 0 90px 0;
			}
		}

	}
}