@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* ----ヘッダー部分---- */
header {
  background-color: #EC715F;
  height: 50px;
}

header .h-wrap {
  width: 90%;
  height: 100%;
  /* border: 1px solid #000; */
  margin: 0 auto;
  position: relative;
}

header .h-wrap .logo {
  height: 100%;
}

header .h-wrap .logo-link {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  /* background-color: rgba(255, 251, 0, 0.425); */
}

header .h-wrap .burger-menu {
  display: inline-block;
  float: right;
  width: 40px;
  height: 40px;
  margin: 5px 0;
  border: 1px solid #fff;
}

header .h-wrap .burger-menu .fa-bars {
  color: #fff;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  width: 100%;
}

/* ----メインビジュアル部分---- */
.main-visual {
  height: 650px;
  background-image: url(img/code.png);
  background-position: center;
  background-size: cover;
}

.main-visual .mv-wrap {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.main-visual .mv-wrap h2 {
  font-size: 40px;
  color: #fafafa;
  padding: 200px 0 10px 0;
}

.main-visual .mv-wrap p {
  font-size: 18px;
  color: #fafafa;
}

/* ----ポートフォリオ部分---- */
.portfolio {
  background-color: #ECEFF1;
}

.portfolio .pf-wrap {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.portfolio .pf-wrap h2 {
  font-size: 32px;
  color: #000;
  padding: 90px 0 0 0;
}

.portfolio .pf-wrap .line-parent {
  font-size: 0;
  /*lineのinline-blockの隙間を消す*/
}

.portfolio .pf-wrap .line-parent .line {
  display: inline-block;
  height: 3px;
  width: 70px;
  background-color: #EC715F;
  margin: 8px 0 0 0;
}

.portfolio .pf-wrap p {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
}

.portfolio .pf-wrap .img-parent {
  font-size: 0;
  /*imgのinline-blockの隙間を消す*/
}

.portfolio .pf-wrap .img-parent img {
  width: 300px;
  height: 250px;
  margin: 0 0 10px 0;
}

.portfolio .pf-wrap .img-parent img:nth-of-type(odd) {
  display: none;
}

.portfolio .pf-wrap .img-parent img:last-child {
  margin: 0 0 90px 0;
}

/* ----フィーチャー部分---- */
.features .feat-wrap {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.features .feat-wrap h2 {
  font-size: 32px;
  color: #000000;
  padding: 90px 0 0 0;
}

.features .feat-wrap .line-parent {
  font-size: 0;
  /*lineのinline-blockの隙間を消す*/
}

.features .feat-wrap .line-parent .line {
  display: inline-block;
  height: 3px;
  width: 70px;
  background-color: #EC715F;
  margin: 8px 0 0 0;
}

.features .feat-wrap .feat-description {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
}

.features .feat-wrap .feat-icon {
  font-size: 60px;
}

.features .feat-wrap h3 {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
}

.features .feat-wrap .p-parent {
  text-align-last: left;
}

.features .feat-wrap .p-parent p {
  padding: 0 0 10px 0;
}
